<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Content Aggregator</title>
  </head>
<body>
    <div class="container">
        <h1><strong>Welcome to Mew's Content Aggregator</strong></h1>
        <br>
        <br>

        <div class="row">
            {% for item in web_list %}
            <div class="col-md-4">
                <h2><u>{{ item.web_name }}</u></h2>
                <p>{{ item.last_update }}</p>
                <br>
                {% for content in content_list %}
                    {% if content.website.id == item.id %}
                    </br>
                    <div class="row">
                        <div class="col-md-8">
                            <p>{{ content.title }}</p>
                        </div>
                        <div class="col-md-4">
                            <a href="{{ item.web_hardlink }}{{ content.article_url }}" target="_blank"><button class="btn btn-info">LINK</button></a>
                        </div>
                    </div>
                    <hr>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>