<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Content Aggregator</title>
  </head>
<body>
    <div class="container">
        <h1>Welcome to Mew's Content Aggregator</h1>

        <div class="row">
            {% for item in web_list %}
            <div class="col-md-4">
                <h2>{{ item.web_name }}</h2>

                {% for content in content_list %}
                {% if content.website.id == item.id %}

                <p>{{ content.title }}</p>
                <a href="">{{ content.article_url }}</a>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>